@import '../../../../styles/partials/variables';
@import '../../../../styles/partials/mixins';

.character-select-list {
	background: #f9f9f9;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: $font-size-base;
	text-align: left;
	padding-top: 1px;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	position: relative; /* Для абсолютного позиционирования кнопок прокрутки */

	> li {
		display: flex;
		align-items: center;
		padding: 10px 15px;
		border-bottom: 1px solid #ddd;
		margin-bottom: 5px;
		transition: background 0.3s ease, transform 0.2s ease;

		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
		}

		&:hover {
			background: #f0f0f0;
			transform: translateY(-2px);
		}

		&.active {
			background: $nav-tabs-link-active-color;
			color: #fff;
			border-radius: 5px;
		}

		&.selected > a {
			font-weight: bold;
			color: $dropdown-link-hover-color;
		}

		> a {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 8px 15px;
			clear: both;
			font-weight: normal;
			line-height: $line-height-base;
			color: $dropdown-link-color;
			white-space: nowrap;
			cursor: pointer;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover,
			&:focus {
				text-decoration: none;
				color: $dropdown-link-hover-color;
				background-color: $dropdown-link-hover-bg;
			}
		}

		.social-network {
			display: flex;
			align-items: center;
			margin-left: 10px; /* Отступ от описания персонажа */
			color: $dropdown-link-color;
		}

		.fa-icon {
			margin-right: 5px; /* Отступ между иконкой и текстом */
			font-size: 1.2em;
		}
	}

	.character-list-searchable > & {
		border-top: solid 1px #eee;
		margin-top: 9px;
	}

	/* Стили для кнопок прокрутки */
	.scroll-button {
		position: absolute;
		right: -10px; /* Изменяем позицию, чтобы кнопка не заходила на границу */
		background-color: #ffcc55;
		border: none;
		color: #fff;
		font-size: $font-size-base;
		padding: 10px 15px;
		cursor: pointer;
		&:hover {
			background-color: darken(#ffcc55, 10%);
		}
	}
}
